<template lang="pug">
  #TodoList
    h5 Gjøremålsliste
    .list-container
      ul
        .item-container
          li(:key="index" v-for="(item, index) in todoItems") #[span(:class="item.finished ? 'finished-todo': ''") {{ item.text }}]
            .button(@click="complete(item)") Fullført
    .center
      input.center(v-model="todoItem" @keyup.enter="addTodoItem")
      .button(@click="addTodoItem") Legg til
    .button(@click="showFinished = !showFinished") {{ showFinished ? 'Vis gjenværende' : 'Vis alle' }}
</template>

<script>
export default {
  name: 'TodoList',
  data () {
    return {
      showFinished: false,
      todoItem: '',
      todoItems_: []
    }
  },
  computed: {
    todoItems () {
      return this.showFinished
        ? this.todoItems_
        : this.todoItems_
          .filter(({ finished }) => !finished)
    }
  },
  methods: {
    complete (item) {
      item.finished = true
    },
    addTodoItem () {
      if (this.todoItem) {
        this.todoItems_.push({ text: this.todoItem, finished: false })
        this.todoItem = ''
      }
    }
  }

}
</script>

<style scoped>
.list-container {
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.finished-todo {
  text-decoration: line-through;
  color: #a8a8a2;
}
</style>
