<template lang='pug'>
#app
  vue-introduction
</template>

<script>
import VueIntroduction from '@/Home'
export default {
  components: {
    VueIntroduction
  }
}
</script>

<style lang="scss">
$text-color: #2c3e50;
$link-color: #ccc;  // Was #b4e7f8

body {
  width: 100%;
  margin: 0 0;
}
html {
  height: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  width: 100%;
}
a:hover {
    background-color: $link-color;
    color: $text-color;
}

a {
    background-color: transparent;
    color: $text-color;
    text-decoration: none;
    -webkit-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    -o-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    border-bottom: 3px solid $link-color;
    -webkit-box-shadow: inset 0 -4px 0 $link-color;
    box-shadow: inset 0 -4px 0 $link-color;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}
</style>
