<template lang='pug'>
#BouvetOne-Vue.eg-theme-agrume
  .eg-slideshow
    slide(:steps="2")
      .center
        h1 Et nytt utsyn
        span - en introduksjon til #[strong Vue.js]

        eg-transition(enter="fadeIn")
          div(v-if="step > 1")
            include ./vue-logo.svg

    slide(:steps=10 enter='bounceInRight' leave='fadeOut')
      h3 Hva er #[strong Vue.js]
      .subslide(v-if="step <= 6")
        ul
          li(v-if="step > 1") Et JavaScript-rammeverk for å lage brukergrensesnitt
            eg-transition(enter="fadeInRight")
              ul(v-if="step > 2")
                li Reaktivt#[sup *]
                li Virtuelt DOM
                li Designet for å kunne tas inn etter hvert
                li Bruk av (standard) web-tekologier
                li MIT lisens
          li(v-if="step > 3") Kjernen i et større økosystem
            eg-transition(enter="fadeInRight")
              ul(v-if="step > 4")
                li Vuex
                li Vue-Router
                li Server Side rendering
                li Vuetify#[sup **]
                li Vuelidate#[sup **]
        eg-transition(enter="fadeInY")
          ul.no-bullet-point.small
            li(v-if="step > 5") #[sup *] Noen untak ved lister og objekter. Ordnet i versjon 3.
            li(v-if="step > 5") #[sup **] Ikke laget av kjerneteamet
      .subslide(v-if="step > 6")
        p(v-if="step > 6") Laget av Evan You
        ul(v-if="step > 7")
          li Har mange bidragsytere
          li Det er ikke laget av et selskap for å dekke deres behov
          ul
            li Har mange sponsoerer
        p(v-if="step > 8") Stort fokus på bakover-kopatibilitet fremover
        ul(v-if="step > 9")
          li Endringer i versjon 3 skal være så små som mulig
    slide(:steps="7" enter="fadeInRight" leave="fadeOutLeft")
      h3 Hvorfor #[strong Vue.js]
      p(v-if="step > 1") Forholdsvis lett å lære (om du kan HTML og JavaScript fra før)
      p(v-if="step > 2") God dokumentasjon, guide og støttebiblioteker
      p(v-if="step > 3") Kan fint brukes i eksisterende applikasjoner
      eg-transition(enter="fadeInRight")
        ul(v-if="step > 4")
          li #[a(href="https://about.gitlab.com/2016/10/20/why-we-chose-vue/") GitLab] har gjort det
          li #[a(href="http://blog.sysco.no/front-end/VueJS/") Sysco Middleware] har gjort det
          li #[a(href="https://medium.com/phytochemia-tech-blog/why-we-chose-vue-js-be2411ff7f34") Phytochemia] har gjort det
      p(v-if="step > 5") Kan brukes fra starten (#[a(href="https://cli.vuejs.org/") @vue/cli])
      eg-transition(enter="fadeInRight")
        ul(v-if="step > 6")
          li Får mye gratis; Webpack & Babel, ruting, tilstandshåndtering, ESLint, enhets/e2e testing, PWA, TypeScript
    slide(:steps="13" enter="fadeInRight" leave="fadeOutLeft")
      h3 Hva gjør #[stronng Vue.js]?
      p(v-if="step > 1") Kommer med #[em direktiver]
      ul
        li(v-if="step > 2") #[code v-if], #[code v-else-if] og #[code v-else]
        li(v-if="step > 3") #[code v-for]
        li(v-if="step > 4") #[code v-bind] forkortet til #[code :]
        ul
          li(v-if="step > 5") Brukes #[em ofte] i forbindelse med å sende data #[strong til] en komponent
        li(v-if="step > 6") #[code v-on] forkortet til #[code @]
        ul
          li(v-if="step > 7") Brukes #[em ofte] til å sende data #[strong fra] en komponent
        li(v-if="step > 8") #[code v-once]
      p(v-if="step > 9") Både #[code v-bind] og #[v-on] tar inn et argument, og evt. endringer (eng. "modifier")

      p(v-if="step > 10") Komponenter
      ul
        li(v-if="step > 11") Kan ineholde andre komponenter
        li(v-if="step > 12") #[code &lt;slot&gt;] for "å sende inn" annen HTML / komponenter

    slide(:steps="10" enter="fadeInRight" leave="fadeOutLeft")
      h3 Hvordan skrive #[strong Vue.js]?
      .subslide(v-if="step <= 9")
        p(v-if="step > 1") Lettest å begynne med komponenter
        eg-code-block(v-if="step > 2" lang="html").
          &lt;div id="app"&gt; #[eg-code-comment(:active="step === 7" enter="flipInY") Anker]
            &lt;h2&gt;
              {{surroundWithMustaches('msg')}} #[eg-code-comment(:active="4 <= step && step <= 6" enter="flipInY") Tekstmal]
            &lt;/h2&gt;
          &lt;/div&gt;
        eg-code-block(v-if="step > 4" lang="javascript").
          const app = new Vue({ #[eg-code-comment(:active="step === 8" enter="fadeInY") Instansen av Vue]
            data: {
              msg: '🐧 Bouvet One 🐧' #[eg-code-comment(:active="step === 6" enter="flipInY") Innhold]
            }
          }).$mount('#app') #[eg-code-comment(:active="step === 7" enter="flipInY") Anker]
        div(v-if="step > 8")
          h2 🐧 Bouvet One 🐧
      .subslide(v-if="step > 9")
        p En Vue komponent
        eg-code-block(lang="javascript").
          const component = Vue.component('komponent-navn', {
            template: ``, /* HTML-mal */
            props: {
              /* Data sendt fra foreldrekomponenten */
            },
            data () {
              return {
                /* lokale, _reaktive_ data */
              },
            },
            computed: {
              /* Funksjoner, uten argumenter.
                 De regnes ut basert på (lokale) data.
                 _reaktive_*/
            },
            methods: {
              /* Metoder som er tilgjengelig for hele komponenten.
                 Også i HTML */
            },
          })
    slide(:steps="10" enter="fadeInRigth" leave="fadeOutLeft")
      h3 Enkeltfil for Vue-komponenter
      p(v-if="step > 1") Vue har en annen måte å skrive komponenter på også
      ul(v-if="step > 2")
        li MEN det krever et byggesteg #[span(v-if="step > 3") (fås gratis av #[code.small vue-cli])]
      p(v-if="step > 4") #[code .vue] filer
      eg-code-block(v-if="step > 5" lang="javascript").
        &lt;template#[span(v-if="step > 6")  lang="pug"]&gt;
          &lt;!--- Markup og struktur ---&gt;
        &lt;/template&gt;
        &lt;script#[span(v-if="step > 7")  lang="ts"]&gt;
        export default {
          props: {/* Defined variables that are passed down */}
          data () { return {/* local data */} },
          computed: {},
          methods: {},
        }
        &lt;/script&gt;
        &lt;style#[span(v-if="step > 8")  scoped]#[span(v-if="step > 9")  lang="scss"]&gt;
        &lt;/style&gt;

    slide(:steps=4 enter="fadeIn" leave="fadeOutLeft")
      h3 Reaktivt{{step <= 1 ? '?' : '!'}}
      eg-transition(enter="fadeInRight" leave="fadeOutLeft")
        .subslide(v-if="step === 2")
          todo-list
      eg-transition(enter="fadeInRight" leave="fadeOutLeft")
        .subslide(v-if="step === 3")
          eg-code-block(lang="html").
            &lt;template&gt;
              &lt;ul v-for=&quot;(item, index) in todoItems&quot;&gt;
                &lt;li v-bind:key=&quot;index&quot;&gt;
                  {{ surroundWithMustaches('item.text') }}
                  &lt;button v-on:click=&quot;complete(item)&quot;&gt;Fullf&oslash;rt&lt;/button&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
              &lt;input v-model=&quot;todoItem&quot; v-on:keyup.enter=&quot;addTodoItem&quot; /&gt;
              &lt;button v-on:click=&quot;addTodoItem&quot;&gt;Legg til&lt;/button&gt;
              &lt;button v-on:click=&quot;showFinished = !showFinished&quot;&gt;
                {{ surroundWithMustaches("showFinished ? 'Vis gjenv&aelig;rende' : 'Vis alle'") }}
              &lt;/button&gt;
            &lt;/template&gt;
        eg-transition(enter="fadeInRight" leave="fadeOutLeft")
          .subslide(v-if="step === 4")
            eg-code-block(lang="javascript").
              &lt;script&gt;
                export default {
                  name: 'TodoList',
                  data () {
                    return {
                      showFinished: false,
                      todoItem: '',
                      todoItems_: []
                    }
                  },
                  computed: {
                    todoItems () {
                      return this.showFinished
                        ? this.todoItems_
                        : this.todoItems_
                          .filter(({ finished }) => !finished)
                    }
                  },
                  methods: {
                    complete (item) {
                      item.finished = true
                    },
                    addTodoItem () {
                      this.todoItems_.push({
                        text: this.todoItem,
                         finished: false
                        })
                      this.todoItem = ''
                    }
                  }
                }
              &lt;/script&gt;
    slide(:steps="13" enter="fadeInRight" leave="fadeOutLeft")
      h3 #[a(href="https://vuex.vuejs.org/") Vuex]
      eg-transition(enter="fadeInRight" leave="fadeOutLeft")
        .subslide(v-if="step <= 6")
          p(v-if="step > 1") Brukes for å samle og håndtere tilstanden til en applikasjon
          eg-transision(enter="fadeInRight", leave="fadeOutLeft")
            ul(v-if="step > 1")
              li Tilgjengelig i alle komponenter som #[code this.$store], eller via hjelpemetoder
          p(v-if="step > 2").
            Inspirert av #[a(href="https://facebook.github.io/flux/docs/overview.html") Flux],
            #[a(href="http://redux.js.org/") Redux]
             og #[a(href="https://guide.elm-lang.org/architecture/") Elm arktitekturen]
          p(v-if="step > 3") Komponenter har fremdeles sin egen tilstand og kan
          eg-transition(enter="fadeInRight" leave="fadeOutLeft")
            ul(v-if="step > 3")
              li sende #[code.small props] til sine barn
              li motta #[code.small event] fra sine barne
          p(v-if="step > 4").
            Nyttig når en applikasjon blir større og flere komponenter
            trenger data som endres av forskjellige komponenter
          p(v-if="step > 5") Har en fast struktur på hvordan endringer og hendelser skal skrives
      eg-transition(enter="fadeInRight" leave="fadeOutLeft")
        .subslide(v-if="6 < step && step <= 7")
          eg-code-block(lang="javascript").
            /* i store.js, eller store/index.js */
            import 'Vue' from 'vue'
            import Vuex from 'vuex'
            Vue.use(Vuex) #[eg-code-comment(:active="step === 3") Et plugin for Vue]

            export default new Vuex.Store({
              state: {},
              modules: {},
              mutations: {},
              actions: {},
              getters: {},
            })

            /* i main.js */
            import 'Vue' from 'vue'
            import Vuex from 'vuex'
            Vue.use(Vuex)

            import App from './App' /* Hovedkompnenten */

            const store = new Vuex.Store({/* Samme som over */})
            new Vue({
              store,
              render: h => h(App),
            }).$mount('#app')
        eq-transition(enter="fadeInRight" leave="fadeOutLeft")
          .subslide(v-if="step > 7")
            p(v-if="step > 8") For å gjøre en endring i tilstanden, brukers aksjoner og mutasjoner
            p(v-if="step > 9") Aksjoner er #[strong a]synkrone og endrer #[em aldri]#[sup *] tilstanden direkte
            p(v-if="step > 10") Mutasjoner er synkrone og har lov til å gjøre endringer i tilstanden
            p(v-if="step > 11") For å organisere større tilstander, kan en bruke moduler
            ul(v-if="step > 12").no-bullet-point.small
              li #[sup *] I versjon 4 av Vuex (kommer sammen ved 3 av Vue.js), skal en kunne gjøre endringer i aksjoner
    slide(:steps="5" enter="fadeInRight" leave="fadeOutLeft")
      h3 #[a(href="https://router.vuejs.org/") Vue-Router]
      eg-transition(enter="fadeInRight" leave="fadeOutLeft")
        .subslide(v-if="step <= 3")
          p(v-if="step > 1") Det offisielle pluginnet for å håndtere ruting i Vue-applikasjoner
          eg-transition(enter="fadeInRight", leave="fadeOutLeft")
            ul(v-if="step > 1")
              li Tilgjengelig i alle komponenter som #[code this.$route]
          p(v-if="step > 2") Kan brukes som lenker, knapper, eller styres fra JavaScript
          p(v-if="step > 3") Mye funksjonalitet er inkludert
          eg-transition(enter="fadeInRight" leave="fadeOutLeft")
            ul(v-if="step > 3")
              li Nøstet ruter
              li Omdirigering
              li URL-parametere
              li Metodekall før og etter navigering
              ul
                li Henting av data
                li Navigasjonsvakter
      eg-transition(enter="fadeInRight" leave="fadeOutLeft")
        .subslide(v-if="step > 4")
          eg-code-block(lang="javascript").
            /* i routs.js, eller routs/index.js */
            import Vue from 'vue'
            import VueRouter from 'vue-router'
            Vue.use(VueRouter)

            const routes = [
              {
                path: '/',
                component: MainPage,
              },
              {
                path: '*',
                component: PageMissing,
              }
            ]

            export default new VueRouter({
              routes,
            })

            /* i main.js */
            import Vue from 'vue'
            import routes from './routes'

            new Vue({
              routes,
              render: h => h(App),
            }).$mount('#app')
    slide(:steps="6" enter="fadeInRight" leave="fadeOutLeft")
      h3 #[a(href="https://cli.vuejs.org/") vue-cli]
      p(v-if="step > 1") Verktøy for å komme i gang med forskjellige typer prosjekter
      p(v-if="step > 2") Standard er å sette opp Webpack / Babel og ESLint med fornuftig konfigurasjon
      eg-transition(enter="fadeInRight" leave="fadeOutLeft")
        ul(v-if="step > 2"): li Konfigurasjonene kan, forholdsvis lett, endres
      p(v-if="step > 3") Gir deg anledning til å velge forskjellige tillegg
      eg-transition(enter="fadeInRight" leave="fadeOutLeft")
        ul(v-if="step > 3")
          li TypeScript
          li PWA
          li Enhets- og Integrasjonstesting
          li UI-rammeverk
      p(v-if="step > 4") Kommer også med et #[em grafisk] brukergrensesnitt
      p(v-if="step > 5") #[strong NB] Ved installasjon, bruk #[code @vue/cli]
    slide(:steps="4" enter="fadeInRight" leave="fadeOutLeft")
      h3 #[a(href="https://github.com/vuejs/vue-devtools") Utviklerverktøy]
      p(v-if="step > 1").
        For
        #[a(href="https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd") Chrome],
        #[a(href="https://addons.mozilla.org/en-US/firefox/addon/vue-js-devtools/") Firefox]
        og #[a(href="https://github.com/vuejs/vue-devtools/blob/master/shells/electron/README.md") et selvstendig verktøy]
      p(v-if="step > 2") Gjør det lett å inspisere innholdet og tilstanden til komponentene
      p(v-if="step > 3") Har integrasjon med Vuex
    slide(:steps="3" enter="fadeInRight" leave="fadeOutLeft")
      h3 Takk for meg
      .center
        h4(v-if="step > 1") Spørsmål?
        p(v-if="step > 2") Presentasjonen ligger på #[a(href="https://clupus.gitlab.io/vue.js-introduksjon") GitLab], sammen med #[a(href="https://gitlab.com/cLupus/vue.js-introduksjon") koden]
</template>

<script>
import { Slideshow } from 'eagle.js'
import TodoList from '@/components/TodoList'

export default {
  components: {
    TodoList
  },
  mixins: [ Slideshow ],
  data () {
    return {
      childWindow: null,
      parentWindow: null
    }
  },
  methods: {
    surroundWithMustaches: text => `{{ ${text} }}`
  }
}
</script>

<style lang='scss'>
@import '~eagle.js/dist/themes/agrume/agrume';
#BouvetOne-Vue {
  .frontpage {
    img {
      height: 7em;
    }

    img.control-schema {
      width: 8em;
      height: 3em;
    }
  }

  .vue-logo {
    width: 10em;
    height: 10em;
  }

  .quarter {
    text-align: center;

    p {
      margin-top: 0;
      text-align: center;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 0
    }
  }

  a {
    color: black;
  }

  .parentWindow {
    border: solide 1px red;
  }
}

.no-bullet-point {
  li {
    list-style-type: none;
  }
}
</style>
